In [37]:

from sklearn.model_selection import train_test_split
import pandas as pd

df = pd.read_csv('../../data/kc_housing_CLEAN.csv', index_col = 0)
## DROP PRICE, ID!

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20911 entries, 0 to 20910
Data columns (total 32 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           20911 non-null  int64
 1   Unnamed: 0.1         20911 non-null  int64
 2   id                   20911 non-null  int64
 3   date                 20911 non-null  object
 4   price                20911 non-null  float64
 5   bedrooms             20911 non-null  int64
 6   bathrooms            20911 non-null  float64
 7   sqft_living          20911 non-null  int64
 8   sqft_lot             20911 non-null  int64
 9   floors               20911 non-null  float64
 10  condition            20911 non-null  object
 11  grade                20911 non-null  object
 12  sqft_above           20911 non-null  int64
 13  sqft_basement        20911 non-null  float64
 14  yr_built             20911 non-null  int64
 15  yr_renovated         20911 non-null  float64
 16  zipcode              20911 non-null  int64
 17  lat                  20911 non-null  float64
 18  long                 20911 non-null  float64
 19  sqft_living15        20911 non-null  int64
 20  sqft_lot15           20911 non-null  int64
 21  geometry             20911 non-null  object
 22  police_dist          20911 non-null  float64
 23  police_station_name  20911 non-null  object
 24  medical_dist         20911 non-null  float64
 25  medical_name         20911 non-null  object
 26  school_dist          20911 non-null  float64
 27  school_name          20911 non-null  object
 28  farmers_market_dist  20911 non-null  float64
 29  farmers_market_name  20911 non-null  object
 30  view_y_n             20911 non-null  int64
 31  basement_y_n         20911 non-null  int64
dtypes: float64(11), int64(13), object(8)
memory usage: 5.1+ MB

In [38]:
x = df.drop(columns = ['id', 'price'])
y = df['price']

cat_cols= ['grade', 'condition']

In [39]:
x_train, x_test, y_train, y_test= train_test_split(x, y,  test_size=0.3, random_state=42)

In [40]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14637 entries, 4057 to 16318
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0.1         14637 non-null  int64
 1   date                 14637 non-null  object
 2   bedrooms             14637 non-null  int64
 3   bathrooms            14637 non-null  float64
 4   sqft_living          14637 non-null  int64
 5   sqft_lot             14637 non-null  int64
 6   floors               14637 non-null  float64
 7   condition            14637 non-null  object
 8   grade                14637 non-null  object
 9   sqft_above           14637 non-null  int64
 10  sqft_basement        14637 non-null  float64
 11  yr_built             14637 non-null  int64
 12  yr_renovated         14637 non-null  float64
 13  zipcode              14637 non-null  int64
 14  lat                  14637 non-null  float64
 15  long                 14637 non-null  float64
 16  sqft_living15        14637 non-null  int64
 17  sqft_lot15           14637 non-null  int64
 18  geometry             14637 non-null  object
 19  police_dist          14637 non-null  float64
 20  police_station_name  14637 non-null  object
 21  medical_dist         14637 non-null  float64
 22  medical_name         14637 non-null  object
 23  school_dist          14637 non-null  float64
 24  school_name          14637 non-null  object
 25  farmers_market_dist  14637 non-null  float64
 26  farmers_market_name  14637 non-null  object
 27  view_y_n             14637 non-null  int64
 28  basement_y_n         14637 non-null  int64
dtypes: float64(10), int64(11), object(8)
memory usage: 3.4+ MB

In [41]:
x_train[cat_cols]

           grade condition
4057    9 Better   Average
18787   9 Better   Average
13863     8 Good   Average
13782  7 Average      Good
4321   7 Average   Average
...          ...       ...
11666  7 Average   Average
12373     8 Good   Average
5588      5 Fair   Average
890       8 Good   Average
16318     8 Good   Average

[14637 rows x 2 columns]

In [42]:
x_test.describe()

,Unnamed: 0.1,bedrooms,bathrooms,sqft_living,sqft_lot,floors,sqft_above,sqft_basement,yr_built,yr_renovated,...,lat,long,sqft_living15,sqft_lot15,police_dist,medical_dist,school_dist,farmers_market_dist,view_y_n,basement_y_n
count,6274.000000,6274.000000,6274.000000,6274.000000,6.274000e+03,6274.000000,6274.000000,6274.000000,6274.000000,6274.000000,...,6274.000000,6274.000000,6274.000000,6274.000000,6274.000000,6274.000000,6274.000000,6274.000000,6274.000000,6274.000000
mean,10786.514982,3.316226,2.079455,2037.870896,1.540225e+04,1.486213,1760.422378,272.504303,1971.379662,64.561683,...,47.557724,-122.213600,1973.027415,12735.565030,0.030910,0.030254,0.008722,0.034238,0.093880,0.380937
std,6187.626382,0.818116,0.709654,840.448939,4.806223e+04,0.536721,779.733344,416.408713,28.864746,353.106298,...,0.141004,0.138907,664.420167,28281.044952,0.019909,0.029802,0.007935,0.023678,0.291684,0.485656
min,0.000000,1.000000,1.000000,530.000000,6.510000e+02,1.000000,480.000000,0.000000,1900.000000,0.000000,...,47.159300,-122.519000,670.000000,651.000000,0.000698,0.000391,0.000095,0.000199,0.000000,0.000000
25%,5491.000000,3.000000,1.500000,1420.000000,5.076250e+03,1.000000,1190.000000,0.000000,1952.000000,0.000000,...,47.459825,-122.327000,1490.000000,5102.000000,0.017542,0.013954,0.004455,0.017923,0.000000,0.000000
50%,10714.000000,3.000000,2.250000,1880.000000,7.560000e+03,1.000000,1540.000000,0.000000,1975.000000,0.000000,...,47.569750,-122.232000,1820.000000,7570.000000,0.027464,0.022568,0.006784,0.029231,0.000000,0.000000
75%,16091.750000,4.000000,2.500000,2510.000000,1.053000e+04,2.000000,2180.000000,527.500000,1996.000000,0.000000,...,47.677900,-122.124000,2340.000000,10000.000000,0.039472,0.036717,0.010331,0.045480,0.000000,1.000000
max,21593.000000,5.000000,4.000000,6840.000000,1.651359e+06,3.500000,5990.000000,2570.000000,2015.000000,2014.000000,...,47.777600,-121.315000,5790.000000,871200.000000,0.204888,0.604612,0.110161,0.519270,1.000000,1.000000

In [44]:
from sklearn.preprocessing import OneHotEncoder, StandardScaler 
ohe = OneHotEncoder(sparse = False, handle_unknown = 'ignore') 
print(cat_cols)
x_train_ohe = ohe.fit_transform(x_train[cat_cols])

['grade', 'condition']

In [45]:
x_train_ohe

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 1., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [46]:
x_train_ohe_data = pd.DataFrame(x_train_ohe, columns= ohe.get_feature_names(cat_cols), index = x_train.index)

x_train_full = pd.concat([x_train.drop(cat_cols, axis=1), x_train_ohe_data], axis = 1)
x_train_full

,Unnamed: 0.1,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,sqft_above,sqft_basement,yr_built,...,grade_5 Fair,grade_6 Low Average,grade_7 Average,grade_8 Good,grade_9 Better,condition_Average,condition_Fair,condition_Good,condition_Poor,condition_Very Good
4057,4057,2/13/2015,3,2.50,2090,9847,2.0,2090,0.0,1983,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
18787,18787,5/27/2014,4,2.50,3250,235063,1.0,3250,0.0,1973,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
13863,13863,3/17/2015,3,2.50,2588,5702,2.0,2588,0.0,2008,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
13782,13782,8/7/2014,3,1.75,1710,4080,1.0,1130,580.0,1979,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4321,4321,12/12/2014,4,1.75,1610,11305,1.0,1610,0.0,1968,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11666,11666,12/3/2014,4,1.00,2180,10617,1.5,2180,0.0,1950,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
12373,12373,6/25/2014,3,2.25,2680,9162,1.0,1570,1110.0,1978,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
5588,5588,4/8/2015,2,1.00,820,4206,1.0,820,0.0,1949,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
890,890,11/10/2014,4,1.00,1820,5400,1.5,1820,0.0,1923,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
16318,16318,10/10/2014,3,2.50,1740,3721,2.0,1740,0.0,2009,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0

In [48]:
x_test_ohe = ohe.transform(x_test[cat_cols])
x_test_ohe_data = pd.DataFrame(x_test_ohe, columns= ohe.get_feature_names(cat_cols), index = x_test.index)

x_test_full = pd.concat([x_test.drop(cat_cols, axis=1), x_test_ohe_data], axis = 1)
x_test_full

,Unnamed: 0.1,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,sqft_above,sqft_basement,yr_built,...,grade_5 Fair,grade_6 Low Average,grade_7 Average,grade_8 Good,grade_9 Better,condition_Average,condition_Fair,condition_Good,condition_Poor,condition_Very Good
4495,4495,8/18/2014,3,3.25,1370,1194,3.0,1370,0.0,2004,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
4860,4860,2/18/2015,2,1.00,1160,6911,1.0,1160,0.0,1947,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
5234,5234,7/8/2014,3,1.50,1520,7123,1.0,1520,0.0,1959,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1780,1780,8/15/2014,2,1.00,840,12252,1.0,840,0.0,1994,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
7270,7270,7/24/2014,3,1.00,830,3386,1.0,830,0.0,1942,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20602,20602,2/20/2015,2,2.00,1210,740,2.0,780,430.0,2014,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
13111,13111,10/3/2014,4,2.50,2130,6003,2.0,2130,0.0,2003,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
596,596,7/22/2014,2,2.50,1400,2958,2.0,1400,0.0,2007,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
18790,18790,7/16/2014,3,2.25,1850,10855,1.0,1370,480.0,1985,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
1403,1403,10/9/2014,4,2.25,2240,8300,2.0,2240,0.0,1978,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0

In [49]:
x_test_full.to_csv('../../data/kc_house_data_xtest_FINAL2.csv', )
x_train_full.to_csv('../../data/kc_house_data_xtrain_FINAL2.csv')
y_test.to_csv('../../data/kc_house_data_ytest_FINAL2.csv')
y_train.to_csv('../../data/kc_house_data_ytrain_FINAL2.csv')

## when load in Index col = 0